@import url('https://fonts.googleapis.com/css?family=Lato');

page-retailermechaniclist{
  font-family: 'Lato', sans-serif;
  
    .content {
      background: #303e52 !important;
    }
	.toolbar-title-md {
		color: #ff4081;
	}
	.card-md {
  		margin: 40px 10px;
		ion-col p{
			color: #ff4081;
		} 
	}
    
}
